body {
    background: #eeeeee;
    margin: 0;
}

img {
    width: 40px;
}
#mostrador {
    margin: auto;
    margin-top: 120px;
    width: 252px;
    height: 80px;
}

.espaco {
    width: 80px;
    height: 60px;
    padding-top: 20px;
    border: 2px solid #000;
    float: left;
    text-align: center;
}

.tabuleiro {
    width: 252px;
    height: 252px;
    margin: auto;
}

.restart {
    width: 100px;;
    margin: 1rem auto;
}
button {
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;

    color: white;
    background-color: #00bfff;

    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077ff;
}

footer {
    width: 100%;
    padding: 1rem;

    background: #292929;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
}